[submodule "packages/ag"]
	path = packages/ag
	url = git@github.com:Wilfred/ag.el.git
[submodule "packages/dash"]
	path = packages/dash
	url = git@github.com:magnars/dash.el.git
[submodule "packages/s"]
	path = packages/s
	url = git@github.com:magnars/s.el.git
[submodule "packages/fixmee"]
	path = packages/fixmee
	url = git@github.com:rolandwalker/fixmee.git
[submodule "packages/idomenu"]
	path = packages/idomenu
	url = git@github.com:birkenfeld/idomenu.git
[submodule "packages/smart-tabs-mode"]
	path = packages/smart-tabs-mode
	url = git@github.com:jcsalomon/smarttabs.git
[submodule "packages/sunrise-commander"]
	path = packages/sunrise-commander
	url = git@github.com:escherdragon/sunrise-commander.git
[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "packages/exec-path-from-shell"]
	path = packages/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "packages/projectile"]
	path = packages/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "packages/helm"]
	path = packages/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "packages/helm-ag"]
	path = packages/helm-ag
	url = git@github.com:syohex/emacs-helm-ag.git
[submodule "packages/magit"]
	path = packages/magit
	url = git@github.com:magit/magit.git
[submodule "packages/flycheck"]
	path = packages/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "packages/let-alist"]
	path = packages/let-alist
	url = git@github.com:emacsmirror/let-alist.git
[submodule "packages/smex"]
	path = packages/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "packages/stack-ide"]
	path = packages/stack-ide
	url = git@github.com:commercialhaskell/stack-ide.git
[submodule "packages/button-lock"]
	path = packages/button-lock
	url = git@github.com:rolandwalker/button-lock.git
[submodule "packages/company-mode"]
	path = packages/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "packages/company-ghc"]
	path = packages/company-ghc
	url = git@github.com:iquiw/company-ghc.git
[submodule "packages/company"]
	path = packages/company
	url = git@github.com:company-mode/company-mode.git
[submodule "packages/ghc-mod"]
	path = packages/ghc-mod
	url = git@github.com:kazu-yamamoto/ghc-mod.git
[submodule "packages/structured-haskell-mode"]
	path = packages/structured-haskell-mode
	url = git@github.com:chrisdone/structured-haskell-mode.git
[submodule "packages/undo-tree"]
	path = packages/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "packages/flx-ido"]
	path = packages/flx-ido
	url = git@github.com:lewang/flx.git
[submodule "packages/weechat"]
	path = packages/weechat
	url = git@github.com:the-kenny/weechat.el.git
[submodule "packages/multi-term"]
	path = packages/multi-term
	url = https://github.com/emacsmirror/multi-term
[submodule "packages/hindent"]
	path = packages/hindent
	url = https://github.com/chrisdone/hindent
[submodule "packages/sr-speedbar"]
	path = packages/sr-speedbar
	url = git@github.com:emacsmirror/sr-speedbar.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "packages/spaceline"]
	path = packages/spaceline
	url = git@github.com:TheBB/spaceline.git
[submodule "packages/powerline"]
	path = packages/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "packages/diminish"]
	path = packages/diminish
	url = git@github.com:emacsmirror/diminish.git
[submodule "packages/ledger"]
	path = packages/ledger
	url = git@github.com:ledger/ledger.git
[submodule "packages/vimish-fold"]
	path = packages/vimish-fold
	url = git@github.com:mrkkrp/vimish-fold.git
[submodule "packages/f"]
	path = packages/f
	url = git@github.com:rejeep/f.el.git
[submodule "packages/go-mode"]
	path = packages/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "packages/dockerfile-mode"]
	path = packages/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
[submodule "packages/docker"]
	path = packages/docker
	url = git@github.com:Silex/docker.el.git
[submodule "packages/ESS"]
	path = packages/ESS
	url = git@github.com:emacs-ess/ESS.git
[submodule "packages/seq"]
	path = packages/seq
	url = git@github.com:NicolasPetton/seq.el.git
[submodule "packages/elm-mode"]
	path = packages/elm-mode
	url = git@github.com:jcollard/elm-mode.git
[submodule "packages/lua-mode"]
	path = packages/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "packages/web-mode"]
	path = packages/web-mode
	url = git@github.com:fxbois/web-mode.git
